<div class="league-title-container">
  <h1 class="league-title"><%= @league.name %></h1>
</div>

<div class="league-description">
  <p>Take over a real NFL team and act as their General Manager<p>
</div>

<div class="league-title-container">
  <%= button_to 'View League Rules', '/leagues/rules', method: :get, class: "button transaction-button centered" %>
</div>

<div class="league-title-container">
<img class="home-logo" src="https://static.nfl.com/static/content/public/static/img/fantasy/games/redesign/logo--league-fantasyfootballDark.png" alt="Fantasy Football"/>
</div>
