@import 'colors';

.league-title-container {
  margin: auto;
  align-content: center;
  text-align: center;
}
.league-title {
  margin:auto;
  width:auto;
}

.league-description {
  margin: 3em auto;
  text-align: center;
}

.home-logo {
  margin:auto;
  width:80%;
}

.centered {
  margin:auto;
}
