@import 'colors';

.field {
  width: 70%;
  margin: auto;
}

.devise-header {
  padding-left: 12%;
}

.actions {
  margin-left: 12%;
  margin-bottom:5%;
}

.devise-button-text {
    color: #ffffff;
    box-shadow:0;
    font-family: 'Open Sans', sans-serif;
}

.shared-link {
  margin-left: 12%;
}
