@import 'colors';

.show-title {
  display: inline-block;
  max-height: 8em;
  max-width: 20em;
  margin: auto;
  padding: 3%;
  vertical-align: middle;
}

.stripe1 {
  height: 5em;
  width:100%
}

.stripe2 {
  height: 5em;
  position: absolute;
  top: 7.8em;
  left:0em;
  width:100%
}
.stripe3 {
  height: 5em;
  position: absolute;
  top: 12.8em;
  left:0em;
  width:100%
}

.team-img-frame {
  border:5px;
  border-style: solid;
  width: 21em;
  height: 9em;
  position: absolute;
  top: 5em;
  left: 4em;
  background-color: white;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}

.team-img-frame:before,
.team-img-frame_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.show-body {
  padding:2em;
}

.react-div {
  margin:5%;
  margin-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  border:5px;
  border-style: solid;
  background-color: #F0F0F099;
}

#starters {
  list-style: none;
}

#bench {
  list-style: none;
  height: 1000px;
  overflow: auto;
}

#ps {
  list-style: none;
  height: 1000px;
  overflow: auto;
}

.team-details-container {

}
.team-details {
  list-style: none;
}

.team-details-title {
  padding-top: 0.2em;
 font-family: 'Open Sans', sans-serif;
}

.line-break {
  height:0.5em;
  position: absolute;
  top: 17.8em;
  left: 0em;
  width:100%;
}

.line-break-bottom {
  height:0.5em;
}

.roster-button {
  background-color: $nfl-blue;
  // border-radius: 4px;
  margin-top:0.5em;
  margin-left:1em;
  cursor: pointer;
  box-shadow: 0 6px #999;
 font-family: 'Open Sans', sans-serif;
}

.roster-button:hover {
  background-color: $nfl-red;
     font-family: 'Open Sans', sans-serif;
}

 .roster-button:focus {
   background-color: $nfl-blue;
   outline:0;
      font-family: 'Open Sans', sans-serif;
 }

.roster-button:active {
  background-color: $nfl-red;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
     font-family: 'Open Sans', sans-serif;
}

.roster-title {
  margin-bottom:1em;
 font-family: 'Open Sans', sans-serif;
}

.player-dropdown {
  margin-right: 3em;
}

.roster-slot {
  margin-left: 1.75em;
  margin-bottom: 0.2em;
  padding-left: 1.2em;
  background-color: #FFFFFF50;
  border: 1px;
  border-color: #FFFFFF75;
  border-style: solid;
  // border-radius: 8px
}

.roster-slot a {
  color: black;
}

hr {
  margin:0.1em;
  padding: 0.1em;
}

.bench-buttons {
  display: flex;
  min-width: 48%;
  label {
    margin-right: 2em;
  }
}

.player-dropdown {
  max-width: 80%;
}

.transaction-links {
  list-style: none;
}

.slot-data {
  display: flex;
  padding-top: 1.2em;
}

.slot-label {
  font-size: 1.55em;
  width: 150px;
}

.slot-player {
  font-size: 1.2em;
  padding-top: 0.2em;
}

.transaction-button-container {
  display: inline-flex;
  width: 50%;
  margin: 0.25em 35%;
  font-family: 'Open Sans', sans-serif;
}

.transaction-button {
  background-color: $nfl-blue;
  // border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 6px #999;
  font-family: 'Open Sans', sans-serif;
}

.transaction-button:hover {
  background-color: $nfl-red;
  font-family: 'Open Sans', sans-serif;

}

 .transaction-button:focus {
   background-color: $nfl-blue;
   outline:0;
   font-family: 'Open Sans', sans-serif;

 }

.transaction-button:active {
  background-color: $nfl-red;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
  font-family: 'Open Sans', sans-serif;

}

.button-form1 {
  margin-right:0.3em;
  margin-bottom:0.5em;
}

.free-agent-slot {
  margin: auto;
  margin-top: 0.5em;
  display:flex;
  padding-top:0.3em;
  background-color: #FFFFFF50;
  border: 1px;
  border-color: #FFFFFF75;
  border-style: solid;
  width:65%
}

.add-player-button {
  padding-top:0.2em;
  padding-bottom:0em;
  padding-left: 1em;
  padding-right: 1em;
  display:table-cell;
  vertical-align: middle;
  margin: 1em 2.5em;
  height:1.5em;
  box-shadow: 0 0px #999;
}

.player-details p {
  font-size: 1.25em;
    a {
      font-size: 1.5em;
      color:$nfl-red
    }
}

.free-agent-list {
  list-style: none;
  max-height: 750px;
  overflow: auto;
  border: 2px;
  border-style: solid;
  border-color: $nfl-blue;
  max-width: 60%;
  margin: auto;
  margin-top: 1.5em;
  display: block;
  background-color:#FFFFFF99;
}

.fa-title {
  margin:auto;
  text-align:center;
  margin-top:0.1em;
  padding: 0;
  font-size: 2.5em;
  color: $nfl-blue;

}

#header-spacer {
  height:10.7em;
  width:100%;
  margin:0
}
