.image-link {
  max-width: 150px;
  max-height: 100px;
  display: block;
  float: left;
  align-content: center;
}


.team-list {
  list-style: none;
  max-width: 80%;
  margin: 10%;
}

.team-title {
  text-align: center;
}

.logo  {
margin:0;
padding:0;
}
