@import 'colors';

.show-title {
  display: inline-block;
  max-height: 8em;
  max-width: 20em;
  margin: auto;
  padding: 3%;
  vertical-align: middle;
}

.stripe {
  height: 5em;
}

.team-img-frame {
  border:5px;
  border-style: solid;
  width: 21em;
  height: 9em;
  position: absolute;
  top: 5em;
  left: 4em;
  background-color: white;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}

.team-img-frame:before,
.team-img-frame_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.show-body {
  background-image: url("grass2.jpg");
  padding:2em;
}

.react-div {
  margin:5%;
  margin-top: 0;
  border:5px;
  border-style: solid;
  background-color: #F0F0F0
}

#starters {
  list-style: none;
}

#bench {
  list-style: none;
}

#ps {
  list-style: none;
}

.team-details-container {

}
.team-details {
  list-style: none;
}

.team-details-title {
  padding-top: 0.2em;
}

.line-break {
  height:0.5em;
}

.roster-button {
  background-color: $nfl-blue;
  border-radius: 4px;
  margin-top:0.5em;
  margin-left:1em;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

.roster-button:hover {
  background-color: $nfl-red;
}

 .roster-button:focus {
   background-color: $nfl-blue;
   outline:0;
 }

.roster-button:active {
  background-color: $nfl-red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.roster-title {
  margin-left: 1em;
}

.player-dropdown {
  margin-right: 3em;
}

.roster-slot {
  margin:0.1em;
}

.bench-buttons {
  display: flex;
  min-width: 48%;
  label {
    margin-right: 2em;
  }
}

.player-dropdown {
  max-width: 80%;
}
