@import 'colors';

.trade-logo {
  max-width: 150px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.trade-item {
  border: 3px;
  border-radius: 4px;
  border-style: solid;
  border-color: $nfl-blue;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 0.75em 0;
}

.trade-list {
  list-style: none;
}

.asset-list {
  list-style: none;
  margin-bottom: 3em;
}

.asset-title {
  font-size: 1.8em;
}

.trade-show-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-trades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-button {
  margin-right: 0.1em
}

.right-button {
  margin-left: 0.1em
}

.image-container-trade{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right:15em;
}

.trade-container {
  margin-top: 0.5em
}

.trade-message {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 30em;
  padding: 0.2em 1em;
  min-width: 30em;
  min-height: 2em;
  margin-left: 2px;
}

.message-title {
  display: flex;
  justify-content: right;
  padding-right: 1.25em;
}
