@import 'colors';

.trade-logo {
  max-width: 150px;
  max-height: 100px;
}

.trade-item {
  border: 3px;
  border-radius: 4px;
  border-style: solid;
  border-color: $nfl-blue;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 0.75em 0;
}

.trade-list {
  list-style: none;
}

.asset-list {
  list-style: none;
}
